<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HDT
					 

Display.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HDTBuddyDisplay.Settings>
            <setting name="BuddyCardTop" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="BuddyCardLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuddyCardScale" serializeAs="String">
                <value>100</value>
            </setting>
        </HDTBuddyDisplay.Settings>
    </userSettings>
</configuration>